h1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3
{
    text-align: center;
}

nav
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    text-align: center;
}

#b2
{
    text-align: center;
    padding: 10px;
}

#b1
{
    border-style:dotted;
    padding: 10px;
    background-color: white;
}

body
{
    background-color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

nav
{
  font-size: large;
}

img
{
    height: 100px;
}