h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

nav
{
    text-align: center;
}

p
{
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/*The css code from the slideshow
comes from https://www.w3schools.com/howto/howto_js_slideshow.asp
*/

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}